/* You can add global styles to this file, and also import other style files */
.fontZ{
    font-size: 103px;
}

ul {
    list-style-type: none;
}

.shadow-blue{
    box-shadow: 0 0 10px 0 rgba(0, 123, 255, 0.5);
    transition: 1s;
}
.shadow-blue:hover{
    box-shadow: 0 0 20px 0 rgb(0, 123, 255);
    transition: 1s;
}
